# Example environment variables for backend
PORT=3001
API_VERSION=v1
MONGODB_URI=mongodb://localhost:27017/readmegenie
JWT_SECRET=your-jwt-secret
SALT=10
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret
ADMIN_EMAIL=your-admin-email@gmail.com
ADMIN_EMAIL_PASSWORD=your-admin-email-password
